:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --accent-color: #d41443;
  --hero-bg-color: #ffb8ca;
  --hero-circle-color: #ffa5ba52;
  --button-hover-color: #ecebeb;
  --title-label-color: #ffa5ba;
  --ice-cream-color: #ffb8ca;
  --ice-coffee-color: #f0d1a5;
  --milkshakes-color: #c2e297;
  --second-text-color: #907e82;
  --bg-color: #fff5f6;
  --card-border-color: #e1e1e1;
  --icon-fill-color: #fea5bb;
  --linear-gradient: #e1e1e1;
  --grey-dots: #d9d9d9;
  --grey-background: #fafafa;
  --red-dots: #c7133e;
}
