<section class="advantages section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="benefits benefits__milk">
        <span class="benefits__number">721</span>Aliquam ac dui vel dui
        vulputate consectetur. Mauris massa.
      </li>
      <li class="benefits benefits__apples">
        <span class="benefits__number">16kg</span>Aliquam ac dui vel dui
        vulputate consectetur. Mauris massa.
      </li>
      <li class="benefits benefits__ice">
        <span class="benefits__number">84</span>Aliquam ac dui vel dui vulputate
        consectetur. Mauris massa.
      </li>
    </ul>
  </div>
</section>