<section class="advantages section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="benefits benefits__milk">
        <span
          class="benefits__number milk__counter"
          data-counter-min="1"
          data-counter-max="721"
          data-counter-speed="25"
          data-counter-increment="1"
          data-counter-delay="0"
        ></span
        >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </li>
      <li class="benefits benefits__apples">
        <span
          class="benefits__number apples__counter"
          data-counter-min="1"
          data-counter-max="16"
          data-counter-speed="25"
          data-counter-increment="1"
          data-counter-delay="0"
          >kg</span
        >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </li>
      <li class="benefits benefits__ice">
        <span
          class="benefits__number ice__counter"
          data-counter-min="1"
          data-counter-max="84"
          data-counter-speed="25"
          data-counter-increment="1"
          data-counter-delay="0"
        ></span
        >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </li>
    </ul>
  </div>
</section>
