<section class="advantages section" id="about">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="benefits benefits__milk">
        <span
          class="benefits__number milk__counter"
          data-counter-min="100"
          data-counter-max="721"
          data-counter-speed="2"
          data-counter-increment="3"
          data-counter-delay="0"
        ></span
        >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </li>
      <li class="benefits benefits__apples">
        <span class="benefits__number">16kg</span>
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </li>
      <li class="benefits benefits__ice">
        <span
          class="benefits__number apples__counter"
          data-counter-min="0"
          data-counter-max="50"
          data-counter-speed="10"
          data-counter-increment="1"
          data-counter-delay="2000"
        ></span
        >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </li>
    </ul>
  </div>
</section>
