<section class="section">
    <div class="container">
        <h2 class="visually-hidden">Contact</h2>
        <div class="contacts">
            <div class="contact">
                <p class="contact__title">Cofe</p>
                <ul class="contact__list">
                    <li class="contact__item contact__item--city">Chicago</li>
                    <li class="contact__item contact__item--text">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </li>
                </ul>
                <ul>
                    <li class="contact__item contact__item--week">Monday - Friday</li>
                    <li class="contact__item contact__item--time">06:00 AM - 10:00 PM</li>
                </ul>
                <ul>
                    <li class="contact__item contact__item--week">Saturday - Sunday</li>
                    <li class="contact__item contact__item--time">08:00 AM - 16:00 PM</li>
                </ul>
                <ul>
                    <li class="contact__item">
                        <a class="contact__item-mail" href="">noreply@envato.com</a>
                    </li>
                    <li class="contact__item">
                        <a class="contact__item-tel" href="">+61(0) 383 766 284</a>
                    </li>
                </ul>
            </div>

            <div class="contact__card">
                <p class="contact__title contact__title--green">FOOD TRUCK</p>
                <ul class="contact__list">
                    <li class="contact__item contact__item--city">Los Angeles</li>
                    <li class="contact__item contact__item--text">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </li>
                </ul>
                <ul>
                    <li class="contact__item contact__item--week">Monday - Friday</li>
                    <li class="contact__item contact__item--time">06:00 AM - 10:00 PM</li>
                </ul>
                <ul>
                    <li class="contact__item contact__item--week">Saturday - Sunday</li>
                    <li class="contact__item contact__item--time">08:00 AM - 16:00 PM</li>
                </ul>
                <ul>
                    <li class="contact__item">
                        <a class="contact__item-mail" href="">noreply@envato.com</a>
                    </li>
                    <li class="contact__item">
                        <a class="contact__item-tel" href="">+61(0) 383 766 284</a>
                    </li>
                </ul>
            </div>

            <div class="contact__card">
                <p class="contact__title">Cofe</p>
                <ul class="contact__list">
                    <li class="contact__item contact__item--city">New York</li>
                    <li class="contact__item contact__item--text">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </li>
                </ul>
                <ul>
                    <li class="contact__item contact__item--week">Monday - Friday</li>
                    <li class="contact__item contact__item--time">06:00 AM - 10:00 PM</li>
                </ul>
                <ul>
                    <li class="contact__item contact__item--week">Saturday - Sunday</li>
                    <li class="contact__item contact__item--time">08:00 AM - 16:00 PM</li>
                </ul>
                <ul>
                    <li class="contact__item">
                        <a class="contact__item-mail" href="">noreply@envato.com</a>
                    </li>
                    <li class="contact__item">
                        <a class="contact__item-tel" href="">+61(0) 383 766 284</a>
                    </li>
                </ul>
            </div>
        </div>

        <button class="button-dark">Our Locations</button>
        <button class="button-light">Franchise</button>
    </div>
</section>