<section class="section section--gradient" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts">
      <div class="contact">
        <p class="contact__title">Cafe</p>
        <ul class="contact__list">
          <li class="contact__item contact__item--city">Chicago</li>
          <li class="contact__item contact__item--text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul>
          <li class="contact__item contact__item--week">Monday - Friday</li>
          <li class="contact__item contact__item--time">06:00 AM - 10:00 PM</li>
        </ul>
        <ul class="contact__list">
          <li class="contact__item contact__item--week">Saturday - Sunday</li>
          <li class="contact__item contact__item--time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul>
          <li class="contact__item">
            <a class="contact__item-mail" href="email:noreply@envato.com">noreply@envato.com</a>
          </li>
          <li class="contact__item">
            <a class="contact__item-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
        </ul>
      </div>

      <div class="contact">
        <p class="contact__title contact__title--green">FOOD TRUCK</p>
        <ul class="contact__list">
          <li class="contact__item contact__item--city">Los Angeles</li>
          <li class="contact__item contact__item--text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul>
          <li class="contact__item contact__item--week">Monday - Friday</li>
          <li class="contact__item contact__item--time">06:00 AM - 10:00 PM</li>
        </ul>
        <ul class="contact__list">
          <li class="contact__item contact__item--week">Saturday - Sunday</li>
          <li class="contact__item contact__item--time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul>
          <li class="contact__item">
            <a class="contact__item-mail" href="email:noreply@envato.com">noreply@envato.com</a>
          </li>
          <li class="contact__item">
            <a class="contact__item-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
        </ul>
      </div>

      <div class="contact">
        <p class="contact__title">Cafe</p>
        <ul class="contact__list">
          <li class="contact__item contact__item--city">New York</li>
          <li class="contact__item contact__item--text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </li>
        </ul>
        <ul>
          <li class="contact__item contact__item--week">Monday - Friday</li>
          <li class="contact__item contact__item--time">06:00 AM - 10:00 PM</li>
        </ul>
        <ul class="contact__list">
          <li class="contact__item contact__item--week">Saturday - Sunday</li>
          <li class="contact__item contact__item--time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul>
          <li class="contact__item">
            <a class="contact__item-mail" href="email:noreply@envato.com">noreply@envato.com</a>
          </li>
          <li class="contact__item">
            <a class="contact__item-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="box-button">
      <button class="cont-btn-dark" data-location-button>Our Locations
        <svg class="icon" width="26" height="26">
          <use href="./images/sprite.svg#btn-arrow2"></use>
        </svg>
      </button>
      <button class="cont-btn-light" data-franchise-button>Franchise
        <svg class="icon" width="6" height="10">
          <use href="./images/sprite.svg#btn-arrow"></use>
        </svg>
      </button>
    </div>
    <div class="backdrop location-is-open" location-menu data-location-close>
      <div class="backdrop__position">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.623620915166!2d30.51352591618325!3d50.429483796755726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cefebe2fc275%3A0xd1e94a98e816be4e!2sViet%20Bar!5e0!3m2!1suk!2sua!4v1660109110938!5m2!1suk!2sua"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20348.335508017874!2d30.609487999999995!3d50.393737!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe8795a10ebd249d9!2sYellow%20Truck!5e0!3m2!1suk!2sua!4v1660109632541!5m2!1suk!2sua"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>

        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10293.209677203522!2d24.037875164015297!3d49.83677490939744!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3007ac15522f74e9!2z0JvRjNCy0ZbQstGB0YzQutGWINC60YDRg9Cw0YHQsNC90Lg!5e0!3m2!1suk!2sua!4v1660109682355!5m2!1suk!2sua"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>


  <!-- Franchise -->

  <div class="franchise backdrop franchise-is-hidden" franchise-menu>
    <div class="franchise__modal about-modal container">
      <button class="about-modal__close-btn" type="button" aria-label="button close" data-franchise-close>
        <svg class="franchise__close" width="11px" height="11px">
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>

      <p class="about-modal__form-text">Become our partner</p>

      <form class="blank">
        <ul class="blank__list list">
          <li class="blank__field">
            <label class="blank__label" for="name">Full name</label>
            <input class="blank__input" type="text" name="name" id="name" autocomplete="off" required minlength="2" />
            <svg class="blank__icon" width="12" height="12">
              <use href="./images/sprite.svg#franchise-mane"></use>
            </svg>
          </li>
          <li class="blank__field">
            <label class="blank__label" for="tel">Phone</label>
            <input class="blank__input" type="tel" name="tel" id="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
            <svg class="blank__icon" width="12" height="12">
              <use href="./images/sprite.svg#franchise-tel"></use>
            </svg>
          </li>
          <li class="blank__field">
            <label class="blank__label" for="mail">Email</label>
            <input class="blank__input" type="email" name="mail" id="mail" required />
            <svg class="blank__icon" width="12" height="12">
              <use href="./images/sprite.svg#franchise-mail"></use>
            </svg>
          </li>
          <li class="blank__field">
            <label label class="blank__label" for="cities">In what city do you plan to start a business with
              "IceCream"?</label>
            <input class="blank__input" list="city" name="cities" id="cities" required />
            <svg class="blank__icon" width="12" height="12">
              <use href="./images/sprite.svg#franchise-locacion"></use>
            </svg>
            <datalist id="city">
              <option>Denver</option>
              <option>Chicago</option>
              <option>Los Angeles</option>
              <option>Miami</option>
              <option>New York</option>
            </datalist>
          </li>
        </ul>
        <div class="blank__box">
          <a class="logo logo--center" href="./index.html"><svg class="logo__icon" width="199" height="50">
              <use href="./images/sprite.svg#logo"></use>
            </svg>
          </a>
          <button class="cont-btn-dark about-modal__btn blank__button" type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Buy now modal -->

</section>