<section class="section">
  <div class="cr__all slider">
    <div class="container cr__container card1 slider__item">
      <div class="cr__image-background">
        <img
          src="./images/customer-reviews/com-1.jpg"
          alt="customer"
          width="85"
          height="85"
          class="cr__image"
        />
      </div>
      <div class="cr__testimonial-holder">
        <div class="cr__testimonial">
          <p class="cr__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <h3 class="cr__title">Emily, Los Angeles</h3>
    </div>
    <div class="container cr__container card2 slider__item">
      <div class="cr__image-background">
        <img
          src="./images/customer-reviews/com-2.jpg"
          alt="customer"
          width="85"
          height="85"
          class="cr__image"
        />
      </div>
      <div class="cr__testimonial-holder">
        <div class="cr__testimonial">
          <p class="cr__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <h3 class="cr__title">Monica, Los Angeles</h3>
    </div>
    <div class="container cr__container card3 slider__item">
      <div class="cr__image-background">
        <img
          src="./images/customer-reviews/com-3.jpg"
          alt="customer"
          width="85"
          height="85"
          class="cr__image"
        />
      </div>
      <div class="cr__testimonial-holder">
        <div class="cr__testimonial">
          <p class="cr__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <h3 class="cr__title">Vallery, Los Angeles</h3>
    </div>
  </div>
</section>
