<section class="footer section">
  <div class="container footer__container">
    <div class="footer__wrap">
      <strong class="footer__slogan">
        <span class="footer__slogan--start">homemade ice cream made</span>
        <span class="footer__slogan--end">with passion</span>
      </strong>
      <div class="footer__inner">
        <ul class="socials list">
          <li class="socials__item">
            <a
              class="socials__link link"
              href="https://github.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="github"
            >
              <svg class="socials__icon" width="32" height="32">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link link"
              href="https://www.telegram.org/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="telegram"
            >
              <svg class="socials__icon" width="32" height="32">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="facebook"
            >
              <svg class="socials__icon" width="32" height="32">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <span class="footer__contact"
          >Feel free to contact
          <a class="footer__tel" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          ></span
        >
      </div>
    </div>
    <div class="footer__rights">
      <span> &#169; 2022 - IceCream.</span>
      <span>&#160;All Rights Reserved.</span>
    </div>
  </div>
</section>
