<section class="footer section">
  <div class="container">
    <p class="section-uppertitle">homemade ice cream made</p>
    <p class="section-title">with passion</p>
    <ul class="socials list">
      <li class="socials__item">
        <a
          class="socials__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="github"
        >
          <svg class="socials__icon" width="32" height="32">
            <use href="./images/sprite.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="telegram"
        >
          <svg class="socials__icon" width="32" height="32">
            <use href="./images/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook"
        >
          <svg class="socials__icon" width="32" height="32">
            <use href="./images/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
