<section class="footer section">
  <div class="container">
    <strong>
      <p class="footer__slogan footer__slogan--start">
        homemade ice cream<br />made
      </p>
      <p class="footer__slogan footer__slogan--end">with<br />passion</p>
    </strong>
    <ul class="socials list">
      <li class="socials__item">
        <a
          class="socials__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="github"
        >
          <svg class="socials__icon" width="32" height="32">
            <use href="./images/sprite.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="telegram"
        >
          <svg class="socials__icon" width="32" height="32">
            <use href="./images/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook"
        >
          <svg class="socials__icon" width="32" height="32">
            <use href="./images/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <span class="footer__contact"
      >Feel free to contact
      <a class="footer__tel" href="tel:+610383766284"
        >+61 (0) 383 766 284</a
      ></span
    >
    <div class="footer__rights">
      <p class="footer__rights-desc">
        &#169; 2022 - IceCream.<br />All Rights Reserved.
      </p>
    </div>
  </div>
</section>
