<header class="header header__section">
  <div class="menu-container" id="menu-container" data-menu>
    <button class="buy-menu-btn btn-menu" type="button">
      Buy now
      <svg class="icon" width="6" height="10">
        <use href="./images/sprite.svg#btn-arrow"></use>
      </svg>
    </button>
    <button class="close-btn" type="button" data-menu-close>
      <svg class="icon icon-close" width="18" height="18">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <nav class="menu-container__nav">
      <ul class="menu-container__list">
        <li class="nav__item">
          <a class="nav__link nav__link--current" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about" about-close>About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#how" how-close>How it&#39;s made&#63;</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#products" products-close>Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacts" contacts-close>Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container header__container">
    <div class="header__box">
      <a class="logo" href="./index.html"><svg class="logo__icon" width="199" height="50">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link nav__link--current" href="./index.html">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#about" data-menu-AboutUs>About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#how">How it&#39;s made&#63;</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#products">Our products</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contacts">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="mobile-menu" data-menu-button>
        <svg class="icon" width="20" height="12">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
      </button>
      <button class="buy-btn btn" type="button">
        Buy now
        <svg class="icon" width="6" height="10">
          <use href="./images/sprite.svg#btn-arrow"></use>
        </svg>
      </button>
    </div>
    <div class=" hero">
      <div class="hero__box">
        <div class="hero__wrapper">
          <h1 class="hero__header">
            ice cream made with
            <span class="hero__header--red">passion</span>
          </h1>
          <div class="hero__links">
            <a class="hero__link hero__link--red" href="#products">Products</a>
            <a class="hero__link hero__link--white" href="#how">How it&#39;s made&#63;</a>
          </div>
        </div>
        <div class="hero__institutions">
          <div class="hero__institution">
            <p class="hero__inst-number">16</p>
            <p class="hero__inst-type">cafes</p>
            <svg class="hero__icon">
              <use href="./images/sprite.svg#ellipse1"></use>
            </svg>
          </div>
          <div class="hero__institution">
            <p class="hero__inst-number">23</p>
            <p class="hero__inst-type">food trucks</p>
            <svg class="hero__icon">
              <use href="./images/sprite.svg#ellipse1"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="hero__content">
        <div class="hero__img">
          <img srcset="
              ./images/hero/carafe-with-milk-t.png    152w,
              ./images/hero/carafe-with-milk-d.png    213w,
              ./images/hero/carafe-with-milk-t@2x.png 304w,
              ./images/hero/carafe-with-milk-d@2x.png 426w,
              ./images/hero/carafe-with-milk-t@3x.png 456w,
              ./images/hero/carafe-with-milk-d@3x.png 639w
            " sizes="(min-width: 1200px) 213px, (min-width: 768px) 152px" src="./images/hero/carafe-with-milk-d.png"
            alt="luxury milk" />
        </div>
        <div class="hero__thumb">
          <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="hero__btn" type="button">
            <span class="hero__arrow">
              <svg class="hero__arrow-icon hero__arrow-icon--big" width="10" height="9">
                <use href="./images/sprite.svg#arrow-right2"></use>
              </svg>
              <svg class="hero__arrow-icon hero__arrow-icon--small" width="8" height="7">
                <use href="./images/sprite.svg#arrow-right2"></use>
              </svg>
            </span>
          </button>
        </div>
      </div>
      <div class="hero__icecream">
        <img srcset="
            ./images/hero/ice-cream-t.png    143w,
            ./images/hero/ice-cream-m.png    171w,
            ./images/hero/ice-cream-d.png    236w,
            ./images/hero/ice-cream-t@2x.png 286w,
            ./images/hero/ice-cream-m@2x.png 342w,
            ./images/hero/ice-cream-t@3x.png 429w,
            ./images/hero/ice-cream-d@2x.png 472w,
            ./images/hero/ice-cream-m@3x.png 513w,
            ./images/hero/ice-cream-d@3x.png 708w
          " sizes="(min-width: 1200px) 236px, (min-width: 768px) 143px, (max-width: 768px) 171px"
          src="./images/hero/ice-cream-d.png" alt="IceCream" />
      </div>
      <div class="hero__girl">
        <img srcset="
            ./images/hero/girl-t.png    190w,
            ./images/hero/girl-d.png    304w,
            ./images/hero/girl-t@2x.png 380w,
            ./images/hero/girl-t@3x.png 570w,
            ./images/hero/girl-d@2x.png 608w,
            ./images/hero/girl-d@3x.png 912w
          " sizes="(min-width: 1200px) 304px, (min-width: 768px) 190px" src="./images/hero/girl-d.png"
          alt="Cute girl" />
      </div>
    </div>
  </div>
</header>