<section class="section section-products">
    <div class="container">
      <p class="section-products__label section-uppertitle">100% natural</p>
      <h2 class="section-products__title section-title">products</h2>
      <ul class="products animate__animated animate__shakeX">
        <li class="products__card products__ice-cream animate__animated animate__swing">
          <h3 class="products__name">ice cream</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="products__btn" type="button">
            <svg class="products__icon">
                <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </li>
        <li class="products__card products__ice-coffee">
          <h3 class="products__name">ice coffee</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="products__btn" type="button">
            <svg class="products__icon">
                <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </li>
        <li class="products__card products__milkshakes">
          <h3 class="products__name">milkshakes</h3>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="products__btn" type="button">
            <svg class="products__icon">
                <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </section>