<h1 class="section-title">Who is who</h1>
<!-- Кнопки для героя -->
<button class="btn-dark">Products</button>
<button class="btn-light">How it’s made?
</button>
<button class="buy-btn">Buy now
    <svg class="icon" width="16px" height="16px">
        <use href="./images/sprite.svg#btn-arrow"></use>
    </svg>
</button>

<button class="buy-menu-btn">Buy now
    <svg class="icon" width="16px" height="16px">
        <use href="./images/sprite.svg#btn-arrow"></use>
    </svg>
</button>
<!-- Кнопки для героя -->

<!-- Кнопки для контактов -->
<button class="cont-btn-dark">Our Locations
    <svg class="icon" width="16px" height="16px">
        <use href="./images/sprite.svg#btn-arrow"></use>
    </svg>
</button>

<button class="cont-btn-light">Franchise
    <svg class="icon" width="16px" height="16px">
        <use href="./images/sprite.svg#btn-arrow"></use>
    </svg>
</button>
<!-- Кнопки для контактов -->