.cr__container {
    background-color: var(--white-color);
}

.cr__image-background {
    display: flex;
}

.cr__image {
    width: 85px;
    height: 85px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 44px;
}

.cr__testimonial-holder {
    background-color: var(--grey-background);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 43px;
    position: relative;

    @media screen and(min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        width: 620px;
        padding: 20px 6px 36px 6px;
    }

    @media screen and(min-width: 1200px) {
        width: 968px;
    }
}

.cr__testimonial {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(31/12);
    text-align: center;
    background: repeating-linear-gradient(to bottom,
            transparent 0,
            transparent 29px,
            var(--linear-gradient) 29px,
            var(--linear-gradient) 30px);

    &::before {
        content: '';
        width: 54px;
        height: 40px;
        opacity: 0.5;
        background-image: url(/src/images/customer-reviews/quotes.png);
        position: absolute;
        top: 30px;
        left: 56px;

        @media screen and(min-width: 768px) {
            top: 10px;
            left: 7px;
        }

        @media screen and(min-width: 1200px) {
            top: 5px;
            left: 70px;
        }
    }

    @media screen and(min-width:768px) {
        font-weight: 500;
        font-size: 14px;
        line-height: 216%;
        text-align: center;
        letter-spacing: 0.04em;
    }

    @media screen and(min-width:1200px) {
        width: 820px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        line-height: 186%;

    }
}

.cr__text {
    padding-right: 4px;
    padding-left: 19px;

    @media screen and(min-width:768px) {
        width: 514px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        padding-left: 0;
    }

    @media screen and(min-width:1200px) {
        width: 750px;
    }
}

.cr__title {
    margin-top: 42px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: calc(26/14);
    height: 60px;

    @media screen and(min-width: 768px) {
        font-size: 16px;
        line-height: calc(30/16);
    }

    @media screen and(min-width: 1200px) {
        font-size: 20px;
        line-height: calc(37/20);
    }

    @media screen and(min-width: 1200px) {
        margin-top: 16px;
        height: 53px;
    }

    &::before {

        content: "";
        position: absolute;
        top: 0;
        display: flex;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: var(--red-dots);
        box-shadow: 14px 0px 0px var(--red-dots),
            -14px 0px 0px var(--red-dots);
    }
}

/* Слайдер */
.slider {
    min-width: 0;
    background-color: var(--white-color);
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
}

.slider .slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background-color: var(--grey-dots);
    border-radius: 50%;
    border: 0;
    margin: 0px 10px;
}

.slick-active button {
    width: 100%;
    background-color: var(--white-color);
    background: url(/src/images/customer-reviews/hause.svg) 0 0 no-repeat;
    overflow: hidden;
    width: 12px;
    height: 10px;
}

.slick-dots .slick-active button {
    background-color: var(--white-color);
    
}