.gallery{
    padding-top: 0;
    background: linear-gradient(to bottom, #FFF5F6 13.5%, var(--white-color) 13.5%);
    
    @media screen and (min-width: 768px) {
        background: linear-gradient(to bottom, #FFF5F6 48%, var(--white-color) 48%);
        }
    
    @media screen and (min-width: 1200px) {
        background: linear-gradient(to bottom, #FFF5F6 18%, var(--white-color) 18%);
        }
}

.gallery__container{
   padding: 0;

@media screen and (min-width: 1200px){
    padding: 0 92px;
}
}

.gallery__list{
    display: flex;
    gap: 2px;

    @media screen and (min-width: 768px) {
        gap: 6px;
        }

    @media screen and (min-width: 1200px) {
        gap: 8px;
        }
}

.gallery__column{
    flex-direction: column;
    display: flex;
    gap: 3px;

        @media screen and (min-width: 768px) {
                gap: 6px;
            }
        
        @media screen and (min-width: 1200px) {
                gap: 8px;
            }
}

.gallery__image{
    border-radius: 20%;
    box-shadow: 9px 8px 7px rgb(127 65 79 / 15%)
}

.gallery__photo{
    max-width: 100%;
    max-height: auto;

    // transform: scale(1);
    // transition: 0.3s var(--timing-function);
    // filter: grayscale(2);

    // &:hover {
    // cursor: pointer;
    // position: relative;
    // transform: scale(1.5);
    // filter: grayscale(0);
    // }

    &--one{
        // z-index: 1;
        margin-top: auto;
        margin-bottom: auto;
    }

    &--four {
    width: 90px;
    height: 90px;
    // z-index: 10;
            }
    
    @media screen and (max-width: 767px) {
    &--five {
    max-width: 44px;
    height: auto;
    }
    }


    @media screen and (min-width: 768px) {
    width: 105px;
    height: 105px;

    &--four {
    width: 215px;
    height: 215px;
    }
}
            
    @media screen and (min-width: 1200px) {
    width: 138px;
    height: 139px;

    &--four {
    width: 283px;
    height: 283px;
    }

    &--five {
    width: 138px;
    height: 139px;
    }
}
}

.gallery__photo--two{
    margin-top: 64%;

//     @media screen and (min-width: 768px) {
//     margin-top: 68px;
//     }
    
//     @media screen and (min-width: 1200px) {
//     margin-top: 89px;
// }
}

.gallery__photo--six{
margin-top: 70%;

// @media screen and (min-width: 768px) {
//     margin-top: 75px;
//     }

// @media screen and (min-width: 1200px){
//     margin-top: 99px;
// }
}

.gallery__photo--eight {
    margin-top: 49%;

    // @media screen and (min-width: 768px) {
    // margin-top: 50px;
    //         }

    // @media screen and (min-width: 1200px) {
    // margin-top: 67px;
    // }
}

.gallery__photo--ten {
    margin-top: 112%;
}

.gallery__image{
    position: relative;
    z-index: 1;

    transform: scale(1);
    transition: 0.3s var(--timing-function);

        &:hover,
        &:focus {
        cursor: pointer;
        position: relative;
        transform: scale(1.5);
}
}